{{#e2e}}
chromedriver_cdnurl=https://npm.taobao.org/mirrors/chromedriver
{{/e2e}}
{{#unit}}
PUPPETEER_DOWNLOAD_HOST = https://npm.taobao.org/mirrors
{{/unit}}
{{#usesass}}
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
{{/usesass}}
